/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2016, 05:21:22 PM
    Author     : tono
*/

.our_services { 
   
    }
@media only screen and (max-width:768px) { 
.our_services { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services { 
margin-top: -40px;
    }
}

@media only screen and (max-width:360px) { 
.our_services { 
margin-top: -40px;
    }
}

@media only screen and (max-width:320px) { 
.our_services { 
   margin-top: -40px;
    }

}


.our_services1 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services1 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services1 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services1 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services1 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services1 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services1 { 
margin-top: -90px;
margin-bottom: 285px;
    }
}

@media only screen and (max-width:360px) { 
.our_services1 { 
margin-top: -90px;
margin-bottom: 285px;
    }
}

@media only screen and (max-width:320px) { 
.our_services1 { 
   margin-top: -90px;
   margin-bottom: 285px;
    }

}


.our_services2 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services2 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services2 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services2 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services2 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services2 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services2 { 
margin-top: 20px;
margin-bottom: 285px;
    }
}

@media only screen and (max-width:360px) { 
.our_services2 { 
margin-top: 20px;
margin-bottom: 285px;
    }
}

@media only screen and (max-width:320px) { 
.our_services2 { 
   margin-top: 20px;
   margin-bottom: 200px;
   
    }

}



.our_services3 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services3 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services3 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services3 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services3 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services3 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services3 { 
margin-top: 330px;
margin-bottom: 600px;
    }
}

@media only screen and (max-width:360px) { 
.our_services3 { 
margin-top: 330px;
margin-bottom: 600px;
    }
}

@media only screen and (max-width:320px) { 
.our_services3 { 
   margin-top: 330px;
   margin-bottom: 600px;
   
    }

}

.texto_contactanos { 
   padding-top: 800px;
    }

@media only screen and (max-width:480px) { 
.texto_contactanos { 
   padding-top: 350px;
    }
}

@media only screen and (max-width:360px) { 
.texto_contactanos { 
   padding-top: 350px;
    }
}

@media only screen and (max-width:320px) { 
.texto_contactanos { 
   padding-top: 350px;
    }
}



.our_services4 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services4 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services4 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services4 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services4 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services4 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services4 { 
margin-top: 640px;
margin-bottom: 990px;
    }
}

@media only screen and (max-width:360px) { 
.our_services4 { 
margin-top: 640px;
margin-bottom: 990px;
    }
}

@media only screen and (max-width:320px) { 
.our_services4 { 
   margin-top: 640px;
   margin-bottom: 990px;
   
    }

}




.our_services5 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services5 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services5 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services5 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services5 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services5 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services5 { 
margin-top: 1080px;
margin-bottom:1100px;
    }
}

@media only screen and (max-width:360px) { 
.our_services5 { 
margin-top: 1080px;
margin-bottom: 1100px;
    }
}

@media only screen and (max-width:320px) { 
.our_services5 { 
   margin-top: 1080px;
   margin-bottom: 1100px;
   
    }

}

.our_services6 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services6 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services6 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services6 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services6 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services5 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services6 { 
margin-top: 1300px;
margin-bottom: 600px;
    }
}

@media only screen and (max-width:360px) { 
.our_services6 { 
margin-top: 1300px;
margin-bottom: 600px;
    }
}

@media only screen and (max-width:320px) { 
.our_services6 { 
   margin-top: 1300px;
   margin-bottom: 600px;
   
    }

}


.our_services7 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services7 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services7 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services7 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services7 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services7 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services7 { 
   margin-top: 1610px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:360px) { 
.our_services7 { 
   margin-top: 1610px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:320px) { 
.our_services7 { 
   margin-top: 1610px;
   margin-bottom: 600px;
   
    }

}


.our_services8 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services8 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services8 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services8 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services8 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services8 { 
    margin-top: -40px;
    }
}

@media only screen and (max-width:480px) { 
.our_services8 { 
margin-top: 1910px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:360px) { 
.our_services8 { 
margin-top: 1910px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:320px) { 
.our_services8 { 
    margin-top: 1910px;
   margin-bottom: 600px;
    }
}


.our_services9 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services9 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services9 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services9 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services9 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services9 { 
  margin-top: 2200px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:480px) { 
.our_services9 { 
margin-top: 2210px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:360px) { 
.our_services9 { 
margin-top: 2210px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:320px) { 
.our_services9 { 
    margin-top: 2210px;
   margin-bottom: 600px;
    }
}

.our_services10 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services10 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1280px) { 
.our_services10 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1224px) { 
.our_services10 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width: 1024px) { 
.our_services10 { 
    margin-bottom: 120px;
    }
}
@media only screen and (max-width:768px) { 
.our_services10 { 
  margin-top: 2510px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:480px) { 
.our_services10 { 
margin-top: 2510px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:360px) { 
.our_services10 { 
margin-top: 2510px;
   margin-bottom: 600px;
    }
}

@media only screen and (max-width:320px) { 
.our_services10 { 
    margin-top: 2510px;
   margin-bottom: 600px;
    }
}


.our_services11 { 
   
    }
    @media only screen and (max-width:  1824px) { 
.our_services11 { 
  margin-bottom: 0px
    }
}
@media only screen and (max-width: 1280px) { 
.our_services11 { 
    margin-bottom: 0px
    }
}
@media only screen and (max-width: 1224px) { 
.our_services11 { 
   margin-bottom: 0px
    }
}
@media only screen and (max-width: 1024px) { 
.our_services11 { 
   margin-bottom: 0px
    }
}
@media only screen and (max-width:768px) { 
.our_services11 { 
  margin-top: 2810px;
   margin-bottom: 3000px;
    }
}

@media only screen and (max-width:480px) { 
.our_services11 { 
margin-top:2810px;
   margin-bottom:3050px;
    }
}

@media only screen and (max-width:360px) { 
.our_services11 { 
margin-top: 2810px;
   margin-bottom: 3050px;
    }
}

@media only screen and (max-width:320px) { 
.our_services11 { 
    margin-top: 2810px;
   margin-bottom: 3050px;
    }
}